<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am Gerald Balekaki, an Assistant Teaching Professor of Computer Science at Illinois Institute of Technology. My research focuses on Computational Science, Databases, High-Performance Computing, and Computer Networks.
            </p>
            <p class="paragraph-text justify-text">
                I have a PhD in Computer Science from the University of Cape Town, where I worked on scientific database modeling for Computational Radio Astronomy. I am an active member of ACM, IEEE, IITPSA, ISOC, and several technical committees.
            </p>
            <p class="paragraph-text justify-text">
                You can explore my publications and projects here. Feel free to reach out to collaborate or discuss technology and research in computing.
            </p>
        </div>
    </section>
</div>
