<head>
    {% if site.google_analytics %}
        {% include googeanalytics.html %}
    {% endif %}
    
    <title>Gerald Balekaki - Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="vendor/css/normalize.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/progress.css"/>
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <meta name="description" content="Portfolio - Gerald Balekaki | Computational Science, Databases, High-Performance Computing">
</head>
