<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>
            <div class="skills-grid">
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Databases</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>High-Performance Computing</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Computer Networks</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
